/* Image Compressor Module CSS */

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background: var(--primary-bg);
    color: var(--text-color);
  }
  
  .card {
    background: var(--card-bg);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px var(--shadow-color);
    width: 100%;
    max-width: 600px;
    margin: auto;
    color: var(--text-color) !important;
  }
  
  .button {
    background: var(--accent-color);
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s; 
  }
  
  .button:hover {
    background: var(--text-color);
    color: var(--primary-bg);
  }
  
  .file-input {
    display: block;
    margin-bottom: 10px;
  }
  
  .input-group {
    margin-bottom: 15px;
  }
  
  .previewContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  .previewContainer h3 {
    color: var(--secondary-text-color);
    font-size: 1rem;
    margin-bottom: 10px;
  }
  
  .preview {
    max-width: 100%;
    border-radius: 8px;
    box-shadow: 0 2px 5px var(--shadow-color);
    margin-top: 10px;
  }
  
  .error-message {
    color: red;
    font-size: 0.9rem;
    margin-top: 10px;
  }

  .imageInfo{
    color: var(--text-color) !important;
  }