.fileInput {
    width: 100%;
    padding: 12px;
    border: 2px dashed var(--text-color);
    background: transparent;
    color: var(--text-color);
    text-align: center;
    border-radius: 8px;
    cursor: pointer;
    transition: border 0.3s ease;
    font-size: 1rem;
    margin-bottom: 15px;
}

.fileInput:hover {
    border-color: var(--accent-color);
}

.fileInput::file-selector-button {
    background: var(--accent-color);
    color: #fff;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.fileInput::file-selector-button:hover {
    background: var(--text-color);
    color: var(--primary-bg);
}

.card {
    width: 100%;
    max-width: 420px;
    margin: 20px auto;
    padding: 20px;
    text-align: center;
}

.button {
    width: 100%;
    font-size: 1rem;
    padding: 12px;
    border-radius: 8px;
    font-weight: 600;
}
