.numContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background: var(--secondary-bg);
  border-radius: 8px;
  box-shadow: 0px 4px 10px var(--shadow-color);
  width: 120px;
}

.label {
  font-size: 1rem;
  font-weight: 600;
  color: var(--secondary-text-color);
  margin-bottom: 5px;
}

.value {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--text-color);
}
